body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 335px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

.clearfix:after {
  content: " ";
  display: block;
  clear: both; }

/*------------------------------------MIXIN------------------------------*/
/*------------------------------------COLOR------------------------------*/
a:hover, a:focus, input:hover, li:active {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/*------------------------------------HEADER------------------------------*/
header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(221, 228, 234, 0.15);
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1000; }
  header .container {
    height: 100px; }

.logo {
  float: left;
  margin-top: 25px;
  margin-left: 15px; }
  .logo:hover {
    opacity: 0.8; }

.telefon-hero {
  margin-top: 43px;
  margin-left: 20px;
  display: inline-block;
  float: left; }
  .telefon-hero .fa-phone {
    color: #ffaf36; }
  .telefon-hero span {
    font: 400 14px 'Open Sans';
    text-transform: uppercase;
    color: #fff; }

.main-nav {
  float: right;
  margin-right: 30px;
  margin-top: 43px; }
  .main-nav li {
    display: inline-block;
    margin: 5px; }
  .main-nav a {
    font: 400 14px 'Open Sans';
    color: #fff;
    text-transform: uppercase;
    text-decoration: none; }
    .main-nav a:hover {
      color: #ffaf36; }

@media (max-width: 810px) {
  .button_container {
    position: fixed;
    top: 37px;
    right: 30px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease; }
    .button_container:hover {
      opacity: .7; }
    .button_container.active {
      opacity: .5; }
      .button_container.active .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: black; }
      .button_container.active .middle {
        opacity: 0;
        background: black; }
      .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: black; }
    .button_container span {
      background: #ffaf36;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .35s ease;
      cursor: pointer; }
      .button_container span:nth-of-type(2) {
        top: 11px; }
      .button_container span:nth-of-type(3) {
        top: 22px; }

  nav {
    position: fixed;
    background: #ffaf36;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden; }
    nav.open {
      opacity: .9;
      visibility: visible;
      height: 100%; }
      nav.open li {
        animation: fadeInRight .5s ease forwards;
        animation-delay: .35s; }
        nav.open li:nth-of-type(2) {
          animation-delay: .4s; }
        nav.open li:nth-of-type(3) {
          animation-delay: .5s; }
        nav.open li:nth-of-type(4) {
          animation-delay: .6s; }
        nav.open li:nth-of-type(5) {
          animation-delay: .7s; }
        nav.open li:nth-of-type(6) {
          animation-delay: .8s; }
        nav.open li:nth-of-type(7) {
          animation-delay: .9s; }

  .main-nav {
    float: none;
    margin-right: 0;
    margin-top: 90px; }
    .main-nav li {
      display: block;
      opacity: 0; }
    .main-nav a {
      display: block;
      margin: 35px;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.5);
      transition: .4s; }
      .main-nav a:hover {
        font-weight: 600;
        color: black; }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%; }
    100% {
      opacity: 1;
      left: 0; } } }
.hero {
  position: relative;
  min-height: 900px;
  padding: 0 5px 5px 5px;
  color: #fff; }
  .hero .hero-body {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    text-align: left;
    transform: translate(-50%, -50%); }
    .hero .hero-body .hero-title {
      font: 700 40px "Raleway";
      text-transform: uppercase; }
    .hero .hero-body p {
      max-width: 500px;
      font: italic 15px 'Lora';
      color: #fff;
      margin: 20px 0 60px; }
    .hero .hero-body .welcome {
      font: 600 16px 'Raleway';
      margin-top: 15px; }
  .hero .hero-btn {
    display: block;
    float: left;
    width: 151px;
    height: 51px;
    background: #ffaf36;
    margin: 0 auto;
    font: 700 13px/51px 'Raleway';
    color: #1c1c1c;
    text-align: center;
    text-transform: uppercase; }
    .hero .hero-btn:hover {
      background: #fff;
      box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22); }
    .hero .hero-btn:active {
      -webkit-transform: scale(0.9) rotate(-3deg);
      -moz-transform: scale(0.9) rotate(-3deg);
      -ms-transform: scale(0.9) rotate(-3deg);
      -o-transform: scale(0.9) rotate(-3deg);
      transform: scale(0.9) rotate(-3deg); }

@media (min-width: 769px) {
  .hero {
    min-height: 620px; }
    .hero .hero-body {
      top: 70%; }
      .hero .hero-body .hero-title {
        font: 700 60px/0 'Raleway'; }
      .hero .hero-body p {
        max-width: 500px;
        font: italic 15px 'Lora';
        color: #fff;
        margin: 20px 0 60px; } }
.hero {
  animation: rainbow 12s infinite;
  background-image: url(../images/bg.jpg);
  background-position: top center;
  background-size: cover;
  padding-bottom: 200px; }

@keyframes rainbow {
  0% {
    background: url(../images/bg.jpg) no-repeat;
    background-position: top center;
    background-size: cover; }
  33.3% {
    background: url(../images/fon2.jpg) no-repeat;
    background-position: top center;
    background-size: cover; }
  66.6% {
    background: url(../images/fon3.jpg) no-repeat;
    background-position: top center;
    background-size: cover; } }
/*------------------------------------Preloader----------------------------*/
.loader {
  background: none repeat scroll 0 0 white;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../images/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

/*------------------------------------About----------------------------*/
.s-about, .s-partners, .s-news, .s-clients, .s-services {
  padding: 95px 0; }

.title-section {
  color: #1c1c1c; }
  .title-section h2 {
    font: 800 30px/1px 'Relewey';
    text-transform: uppercase; }
  .title-section .description {
    font: italic 16px 'Lora'; }

.s-about {
  background: #fff; }
  .s-about .text {
    margin-bottom: 30px;
    font: 400 14px/28px 'Open Sans';
    color: #585858; }
  .s-about .s-about-btn {
    display: block;
    float: left;
    width: 151px;
    height: 51px;
    background: #ffaf36;
    margin: 0 auto;
    font: 700 13px/51px 'Raleway';
    color: #1c1c1c;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    border: 2px solid #ffaf36;
    color: #ffaf36;
    cursor: pointer; }
    .s-about .s-about-btn:hover {
      background: #fff;
      box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22); }
    .s-about .s-about-btn:active {
      -webkit-transform: scale(0.9) rotate(-3deg);
      -moz-transform: scale(0.9) rotate(-3deg);
      -ms-transform: scale(0.9) rotate(-3deg);
      -o-transform: scale(0.9) rotate(-3deg);
      transform: scale(0.9) rotate(-3deg); }

/*------------------------------------Services----------------------------*/
.s-services {
  position: relative;
  background: #eaeff3; }
  .s-services .title-section {
    margin-bottom: 75px; }

.servises-item .icon-box {
  padding-top: 20px;
  float: left;
  height: 100px;
  margin-right: 55px; }
  .servises-item .icon-box img {
    vertical-align: middle; }
.servises-item h4 {
  font: 700 16px 'Relevey';
  text-transform: uppercase;
  color: #1c1c1c;
  margin-bottom: 21px; }
.servises-item p {
  font: 400 14px 'Open Sans';
  color: #585858; }

.services-btn {
  display: block;
  float: left;
  width: 151px;
  height: 51px;
  background: #ffaf36;
  margin: 0 auto;
  font: 700 13px/51px 'Raleway';
  color: #1c1c1c;
  text-align: center;
  text-transform: uppercase;
  background: #eaeff3;
  border: 2px solid #ffaf36;
  color: #ffaf36;
  cursor: pointer; }
  .services-btn:hover {
    background: #fff;
    box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22); }
  .services-btn:active {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -moz-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    -o-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg); }

/*------------------------------------Services----------------------------*/
.s-clients {
  background: #fff; }

.s-clients-item {
  padding-bottom: 30px;
  margin-bottom: 30px; }
  .s-clients-item p {
    padding-left: 30px;
    font: 400 14px 'Open Sans';
    color: #585858;
    margin-bottom: 27px; }
  .s-clients-item .people-box {
    padding-left: 30px; }
    .s-clients-item .people-box img {
      float: left;
      margin-right: 40px; }
    .s-clients-item .people-box .first-name {
      font: 700 14px 'Relewey';
      text-transform: uppercase; }
    .s-clients-item .people-box .professional {
      font: 400 14px 'Open Sans';
      color: #585858; }

.popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0; }

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0; }

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0; }

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0; }

.image-source-link {
  color: #DDD; }

/*------------------------------------NEWS----------------------------*/
.s-news {
  background: #fff; }
  .s-news .title-section {
    margin-bottom: 60px; }

.meta {
  color: #585858;
  float: left; }
  .meta ul {
    padding-left: 0;
    margin: 0 5px 0 0; }
    .meta ul li {
      padding: 0px 5px 10px 5px;
      list-style-type: none;
      font: 12px 'Open Sans'; }
      .meta ul li span {
        display: block; }
  .meta .meta-first {
    font: 700 25px 'Open Sans';
    text-transform: uppercase; }
    .meta .meta-first span {
      font: 12px 'Open Sans'; }
  .meta .meta-first, .meta .meta-second {
    border-bottom: 1px solid #ffaf36; }

.main-news-conten img {
  margin-bottom: 38px; }
.main-news-conten .title-blog-news {
  font: 700 16px 'Relewey';
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-left: 65px; }
.main-news-conten .news-description {
  font: 400 14px 'Open Sans';
  padding-left: 65px;
  color: #585858; }

.item-post {
  margin-bottom: 70px; }
  .item-post .title-blog-news {
    font: 700 16px 'Relewey';
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 0px; }
  .item-post .news-description {
    font: 400 14px 'Open Sans';
    color: #585858;
    padding-left: 0; }
  .item-post .date {
    color: #ffaf36; }

.news-btn {
  display: block;
  float: left;
  width: 151px;
  height: 51px;
  background: #ffaf36;
  margin: 0 auto;
  font: 700 13px/51px 'Raleway';
  color: #1c1c1c;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  border: 2px solid #ffaf36;
  color: #ffaf36;
  cursor: pointer; }
  .news-btn:hover {
    background: #fff;
    box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22); }
  .news-btn:active {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -moz-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    -o-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg); }

/*------------------------------------Partners----------------------*/
.s-partners .title-section {
  margin-bottom: 60px; }

/*------------------------------------Footer----------------------*/
footer {
  padding: 80px 0 90px;
  background-color: #2a2b2c; }
  footer .info-block .copy {
    margin: 20px 0 40px;
    color: #8e8e8e;
    font: 600 13px 'Open Sans';
    text-transform: uppercase; }

.social-wrap {
  display: block; }
  .social-wrap a {
    display: inline-block;
    margin-right: 25px;
    width: 29px;
    height: 29px;
    border: 1px solid #373839;
    background-color: #2a2b2c;
    line-height: 29px;
    text-align: center;
    color: #8a8a8a;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  .social-wrap .twitter:hover {
    background-color: #00aced; }
  .social-wrap .facebook:hover {
    background-color: #3b5998; }
  .social-wrap .google:hover {
    background-color: #C93A2E; }
  .social-wrap .linkidin:hover {
    background-color: #007bb6; }

.navigation-item h4 {
  font: 700 18px 'Relewey';
  text-transform: uppercase;
  color: #fff; }

.footer-nav {
  padding: 0;
  margin: 0; }
  .footer-nav .main-nav-footer {
    padding: 0;
    margin: 0;
    float: left; }
    .footer-nav .main-nav-footer li {
      padding: 5px 0;
      margin: 0;
      display: block;
      list-style-type: none;
      border-bottom: 1px solid #373839; }
      .footer-nav .main-nav-footer li a {
        color: #7b7b7c;
        font: 600 13px 'Open Sans';
        text-transform: uppercase; }
        .footer-nav .main-nav-footer li a:hover {
          color: #ffaf36; }

.form-item h4 {
  font: 700 18px 'Relewey';
  text-transform: uppercase;
  color: #fff; }

.main-form {
  max-width: 450px; }
  .main-form .name, .main-form .email {
    width: 49%;
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 1px solid #373839;
    background-color: #2a2b2c;
    height: 47px; }
  .main-form textarea {
    border: 1px solid #373839;
    background-color: #2a2b2c;
    height: 97px;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 450px; }

.form-btn {
  display: block;
  float: left;
  width: 151px;
  height: 51px;
  background: #ffaf36;
  margin: 0 auto;
  font: 700 13px/51px 'Raleway';
  color: #1c1c1c;
  text-align: center;
  text-transform: uppercase; }
  .form-btn:hover {
    background: #fff;
    box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22); }
  .form-btn:active {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -moz-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    -o-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg); }

body #Clients .bx-wrapper .bx-viewport {
  height: 100%; }

.blog-s {
  padding: 80px 0 90px; }
  .blog-s .title-section {
    margin-bottom: 60px; }
  .blog-s .authot {
    float: left;
    margin-right: 20px; }
  .blog-s .title-blo-post {
    font: 700 18px 'Relewey';
    color: #1c1c1c;
    margin-bottom: 10px;
    text-transform: uppercase; }
  .blog-s img {
    margin-top: 30px;
    margin-bottom: 40px; }
  .blog-s p {
    font: 400 14px 'Open Sans';
    color: #585858;
    padding-left: 75px; }

.posted-by, .posted-date {
  font: 600 13px 'Relewey';
  color: #757575;
  text-transform: uppercase; }

.social-blok-post {
  padding-left: 75px; }
  .social-blok-post a {
    display: inline-block;
    width: 51px;
    height: 51px;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    line-height: 64px;
    text-align: center; }
    .social-blok-post a:hover {
      transform: scale(1.1); }
  .social-blok-post .twitter-blog {
    background-color: #00baef; }
  .social-blok-post .facebook-blog {
    background-color: #496fa5; }
  .social-blok-post .google-blog {
    background-color: #eb4125; }

.btn-container {
  float: right; }

.blog-btn {
  display: block;
  float: left;
  width: 151px;
  height: 51px;
  background: #ffaf36;
  margin: 0 auto;
  font: 700 13px/51px 'Raleway';
  color: #1c1c1c;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  border: 2px solid #ffaf36;
  color: #ffaf36;
  cursor: pointer; }
  .blog-btn:hover {
    background: #fff;
    box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22); }
  .blog-btn:active {
    -webkit-transform: scale(0.9) rotate(-3deg);
    -moz-transform: scale(0.9) rotate(-3deg);
    -ms-transform: scale(0.9) rotate(-3deg);
    -o-transform: scale(0.9) rotate(-3deg);
    transform: scale(0.9) rotate(-3deg); }
