body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 335px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

a:hover, a:focus, input:hover, li:active {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/*------------------------------------HEADER------------------------------*/
/*------------------------------------Preloader-----------------------------*/
.loader {
  background: none repeat scroll 0 0 white;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../images/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

/*------------------------------------MENY-----------------------------*/
.toggle-mnu {
  width: 60px;
  height: 60px;
  position: fixed;
  z-index: 205;
  border: none;
  right: 20px;
  top: 20px; }

.sandwich {
  display: block;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 205; }

.sw-topper {
  display: block;
  position: relative;
  top: 0;
  width: 28px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  display: block; }

svg path {
  fill: #e0e0e0; }

.sw-bottom {
  display: block;
  position: relative;
  width: 28px;
  height: 3px;
  top: 6.6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  display: block;
  position: relative;
  width: 28px;
  height: 3px;
  top: 13.5px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 9px;
  transform: rotate(-45deg); }
.sandwich.active .sw-bottom {
  top: 6px;
  transform: rotate(45deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top-mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 203;
  right: 0;
  top: 0;
  display: none; }
  .top-mnu ul {
    margin-top: 130px;
    text-align: center;
    padding-left: 0; }
    .top-mnu ul li {
      list-style-type: none;
      padding: 0;
      margin: 0; }
      .top-mnu ul li:nth-child(1) a {
        -webkit-animation-duration: 0.5s;
        -moz-animation-duration: 0.5s;
        animation-duration: 0.5s; }
      .top-mnu ul li:nth-child(2) a {
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s; }
      .top-mnu ul li:nth-child(3) a {
        -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;
        animation-duration: 1.5s; }
      .top-mnu ul li:nth-child(4) a {
        -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        animation-duration: 2s; }
      .top-mnu ul li a {
        color: #fff;
        display: block;
        padding: 15px 0;
        text-transform: uppercase; }

.home-wrap {
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  width: 100%;
  height: 100%;
  z-index: 100; }
  .home-wrap .home-description {
    display: table-row; }
    .home-wrap .home-description .home-centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
      .home-wrap .home-description .home-centered .home-text {
        display: inline-block; }
        .home-wrap .home-description .home-centered .home-text h1 {
          display: inline-block;
          padding: 10px 30px;
          color: #fff;
          border: 5px solid #fff;
          text-transform: uppercase;
          font-weight: 600;
          box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1000px;
          -webkit-animation-delay: 1s;
          -moz-animation-delay: 1s;
          animation-delay: 1s; }
        .home-wrap .home-description .home-centered .home-text p {
          margin: 0;
          text-transform: uppercase;
          -webkit-animation-delay: 1.5s;
          -moz-animation-delay: 1.5s;
          animation-delay: 1.5s; }

.h-opacity {
  opacity: .1;
  -webkit-transition: all 0.25 ease;
  -moz-transition: all 0.25 ease;
  transition: all 0.25 ease; }

/*MAIN SECTION*/
section {
  padding: 70px 0 80px;
  position: relative;
  z-index: 200; }
  section h2 {
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0 0 15px; }

.description {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 50px; }
  .description:after {
    content: " ";
    display: block;
    clear: both;
    text-align: center;
    margin: 50px auto 0;
    top: 0;
    width: 150px;
    height: 1px; }

.main-footer {
  padding: 50px 0;
  font-size: 13px; }
  .main-footer .social-wrap {
    float: right; }

/*ABOUT*/
section h3 {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 25px; }
section .foto-title {
  text-align: center; }

.s-about p {
  margin-bottom: 25px; }
.s-about .personal-name {
  margin-bottom: 30px;
  font-size: 13px;
  text-align: left;
  color: #555; }
.s-about ul {
  padding-left: 0; }
  .s-about ul li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style-type: none;
    text-align: left; }
.s-about .social-wrap {
  margin-top: 25px; }

.person {
  text-align: center;
  margin-bottom: 35px; }
  .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%; }

/*Resume*/
.resume_container .left {
  text-align: right;
  border-right: 1px solid #d2d2d2; }
  .resume_container .left h3 {
    text-align: right; }

.resume_container .right {
  text-align: left; }
  .resume_container .right h3 {
    text-align: left; }

.resume_container h3 {
  margin-top: 30px; }
.resume_container .left .resume-description strong {
  margin-left: 10px; }
.resume_container .right .resume-description strong {
  margin-right: 10px; }

.resume-icon {
  font-size: 40px;
  margin-bottom: 35px; }

.resume-item {
  margin-bottom: 30px; }
  .resume-item:last-child, .resume-item:last-child p {
    margin-bottom: 0; }
  .resume-item .year {
    display: inline-block;
    margin-bottom: 20px;
    padding: 0 10px; }
  .resume-item .resume-description {
    font-style: italic;
    text-transform: uppercase; }
    .resume-item .resume-description strong {
      font-weight: 600;
      font-style: normal;
      text-transform: uppercase; }

/*PORTFOLIO*/
.filter-block-control, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }

.filter-block-control {
  margin-bottom: 50px; }
  .filter-block-control li {
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;
    line-height: 2;
    font-size: 12px;
    cursor: pointer; }

#portfolio-grid .portfolio-item {
  display: none;
  padding: 0; }
  #portfolio-grid .portfolio-item img {
    width: 100%; }
  #portfolio-grid .portfolio-item .port-item-cont {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 15%;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    opacity: 0;
    transition: all .5s; }
    #portfolio-grid .portfolio-item .port-item-cont:hover {
      opacity: 1;
      padding-top: 20%; }
    #portfolio-grid .portfolio-item .port-item-cont h3 {
      color: #fff;
      margin-bottom: 0; }
    #portfolio-grid .portfolio-item .port-item-cont p {
      text-transform: uppercase;
      font-size: 12px; }
    #portfolio-grid .portfolio-item .port-item-cont a {
      display: inline-block;
      background-color: transparent;
      border: 1px solid #fff;
      padding: 2px 10px; }
      #portfolio-grid .portfolio-item .port-item-cont a:hover {
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2); }

.port-descr {
  background-color: #fff;
  max-width: 500px;
  margin: auto;
  transition: all 2s; }
  .port-descr p, .port-descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .port-descr h3 {
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px; }
  .port-descr p {
    margin-top: 0; }
  .port-descr img {
    width: 100%;
    margin-top: 20px; }

.modal-box-content {
  position: relative; }

.popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1; }

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0; }

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0; }

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0; }

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0; }

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0; }

.image-source-link {
  color: #DDD; }

.contact-box {
  margin-bottom: 30px; }
  .contact-box h3 {
    text-align: left;
    color: #000;
    margin-bottom: 0;
    font-size: 14px; }
  .contact-box .contact-icons {
    font-size: 30px; }
  .contact-box p {
    margin-top: 5px; }

.main-form button {
  border: none;
  color: #fff;
  line-height: 40px;
  padding: 0 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400; }

.form-group {
  display: block;
  margin-bottom: 20px; }
  .form-group input,
  .form-group textarea {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px; }

/*# sourceMappingURL=main.css.map */
